.section {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 50px;
    align-items: center;
    justify-items: center;
}

.img {
    width: 300px;
    height: 300px;
    /* background: #666; */
    border-radius: 10px;
}

.description {
    font-size: 18px;
    line-height: 28px;
    font-family: var(--font-rob);
    margin-bottom: 15px;
}

.description p {
  text-indent: 2em; 
}

.list {
   display: flex;
   justify-content: space-between;
    list-style: none;
}

.item_title {
     font-size: 48px;
    font-family: var(--font-mons);
    margin-bottom: 10px;
}

.item_subtitle {
    font-size: 18px;
    font-family: var(--font-rob);
}

/* Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    .description {
        font-size: 16px;
    }

    .btn {
        font-size: 16px;
        padding: 12px 24px;
    }

    .item_title {
        font-size: 40px;
    }  
    
    .item_subtitle {
        font-size: 16px;
    }   
}

/* Mobile */
@media (max-width: 767px) {
    .section {
        grid-template-columns: 1fr;
    }

    .description {
        font-size: 15px;
    }

    .item_title {
        font-size: 32px;
    }  

    .item_subtitle {
        font-size: 14px;
    }  
}