.footer {
  /* background: #1a1f2c;  */
  background: linear-gradient(
  180deg,
  rgba(26, 31, 44, 0) 0%,
  rgba(26, 31, 44, 0.4) 8%,
  rgba(26, 31, 44, 0.7) 16%,
  rgba(26, 31, 44, 0.85) 24%,
  rgba(26, 31, 44, 1) 30%,
  rgba(26, 31, 44, 1) 100%
);
  color: #d1d5db;   
  padding: 140px 20px 40px;
  margin-top: 80px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
    grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 40px;

}

.logo {
  font-size: 22px;
  color: #fff;
}

.text {
  font-size: 18px;
    color: #d1d5db;
}

.title {
    font-family: var(--font-mons);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #fff;
}

.list {
  list-style: none;
  padding: 0;
}

.list li:not(:last-child) {
  margin-bottom: 10px;
}

.list a {
    font-size: 16px;
    font-family: var(--font-rob);
  color: #d1d5db;
  text-decoration: none;
  transition: color 0.2s ease;
}

.list a:hover {
  color: #fff;
}

.bottom {
  border-top: 1px solid #374151;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #6b7280;
   font-family: var(--font-rob);
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}
