.section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}

.meeting {
    font-size: 36px;
    font-weight: 500;
    font-family: var(--font-mons);
    margin-bottom: 15px;
}

.title {
    font-size: 48px;
    font-family: var(--font-mons);
    margin-bottom: 15px;
}

.subtitle {
    font-size: 20px;
    font-family: var(--font-rob);
    margin-bottom: 15px;
}

.btn_wrap {
  display: flex;
  gap: 16px;
}

/* Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    .meeting {
        font-size: 30px;
    }

    .title {
        font-size: 40px;
    }

    .subtitle {
        font-size: 18px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .section {
        grid-template-columns: 1fr 0;
    }
    .img {
        display: none;
    }

    .meeting {
        font-size: 22px;
    }

    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 16px;
    }
}