.switcher {
    position: fixed;
    z-index: 100;
    top: 30px;
    right: 30px;
    display: flex;
    gap: 5px ;
    padding: 8px 12px;
    background: linear-gradient(45deg, rgba(224,231,255,0.5), rgba(255,255,255,0.7));
    border: 1px solid #666666;
    border-radius: 31px;
}

.btn { 
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: none;
    text-align: center;
    background: linear-gradient(45deg, rgba(224,231,255,0.3), rgba(255,255,255,0.5));
    cursor: pointer;
    transition: all 0.3s ease;
}
