.list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    list-style: none;
}

.item {
    width: 100%;
    /* border: 1px #666 solid; */
    box-shadow: 0 0 5px #666;
    border-radius: 10px;
    padding: 20px 20px 70px;
    background: linear-gradient(45deg, rgba(224,231,255,0.5), rgba(255,255,255,0.7));
    position: relative;
}

.img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-mons);
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    line-height: 28px;
    font-family: var(--font-rob);
    margin-bottom: 20px;
}

.btn_wrap {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    translate: -50%;
}

/* Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    .title {
        font-size: 22px;
    }

    .description {
        font-size: 16px;
    }
}

/* Mobile */
@media (max-width: 767px) {
    .title {
        font-size: 20px;
    }

    .description {
        font-size: 14px;
    }

}