.list {
    display: flex;
    gap: 25px;
    justify-content: center;
    list-style: none;
}

.item {
    width: 250px;
    /* border: 1px #666 solid; */
    box-shadow: 0 0 5px #666;
    border-radius: 10px;
    padding: 20px 20px 70px;
    background: #fff;
    position: relative;
}

.img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-mons);
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    line-height: 28px;
    font-family: var(--font-rob);
    margin-bottom: 20px;
}

.btn_wrap {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}