.btn {
  display: block;
  width: fit-content;
  text-align: center;
  padding: 14px 28px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--font-rob);
  background-color: transparent;
  color: var(--text_color);
  border: 1px solid #666666;
}

.btn:hover {
  background-color: var(--hover_color);
  color: #fff;
}

/* Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    .btn{
        font-size: 16px;
        padding: 12px 24px;
    }
}

/* Mobile */
@media (max-width: 767px) {
  .btn {
    font-size: 15px;
    padding: 10px 20px;
  }
}