.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    background: linear-gradient(45deg, rgba(224,231,255,0.5), rgba(255,255,255,0.7));
    box-shadow: 0 0 5px #666;
    border-radius: 10px;
    padding: 25px;
}

.wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label {
    display: flex;
    gap: 15px;
    align-items: center;
    white-space: nowrap;

    font-size: 18px;
    font-family: var(--font-rob);
}

.textarea_label {
    font-size: 18px;
    font-family: var(--font-rob);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #666;

    font-size: 16px;
    font-family: var(--font-rob);
    transition: all 0.3s;
}

.input:focus {
    outline: none;
    border: 1px solid var(--hover_color);
    box-shadow: 1px 1px 5px var(--hover_color);
}

.textarea {
    width: 100%;
    height: 100%;
    resize: none;  
}

.btn {
  width: fit-content;
  grid-column: span 2;
  margin: 0 auto;
  padding: 14px 28px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: var(--font-rob);
  background-color: transparent;
  color: var(--text_color);
  border: 1px solid #666666;
}

.btn:hover {
  background-color: var(--hover_color);
  color: #fff;
}

.message {
    font-size: 20px;
    font-family: var(--font-rob);
    text-align: center;
    grid-column: span 2;
}

/* Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
   .label {
    font-size: 16px;
   }

   .input {
    font-size: 15px;
   }

   .textarea_label {
    font-size: 16px;
   }
}
/* Mobile */
@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }

    .btn {
        grid-column: 1;
    }

    .textarea {
        min-height: 250px;
    }

    .label {
    font-size: 14px;
   }

   .input {
    font-size: 13px;
   }

   .textarea_label {
    font-size: 14px;
   }

   .message {
    font-size: 16px;
    grid-column: 1;
   }
}
