.wrap {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 30px;
    align-items: center;
}

.wrap:not(:last-child) {
    margin-bottom: 30px;

}

.title {
    font-size: 24px;
    font-weight: 700;
    font-family: var(--font-mons);
}

.list {
    display: flex;
    gap: 15px;
    list-style: none;
}

.link {
    width: 160px;
    height: 80px;
    border: 1px #666 solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #fff;
    transition: all 0.3s;
}

.link:hover {
    border: 1px var(--hover_color) solid;

}

.link svg,
.link svg path {
    fill: var(--text_color);
    transition: all 0.3s;
}

.link:hover svg,
.link:hover svg path {
    fill: var(--hover_color);
}

.link:hover .item_title {
    color: var(--hover_color);
}

.item_title {
    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-mons);
    transition: all 0.3s;

}

